@charset 'utf-8';

* {
	font-family : sans-serif;
	font-weight : normal;
	font-size : 3.5vh;
}

h1 {
	font-size : 8vh;
}

h2 {
	font-size : 6vh;
}

h3 {
	font-size : 4.5vh;
}

body {
	padding : 0;
	background : white;
	margin : 0;
}

.BGbutton:focus, .BGmenuItem:focus, .BGtext:focus, .BGrange:focus {
	outline : solid 0.5vh rgba(55, 55, 255, 1);
	outline-offset: -0.5vh;
}

.BGbutton, .BGmenu, .BGtext, p, .BGlink, .BGprogress, .BGrange, .BGblock, h1, h2, h3 {
	margin : 1.8vh;
	color : rgba(18, 18, 18, 1);
}

.BGbutton, .BGmenu, .BGblock {
	box-shadow : 0px 0px 2vh black;
}

.BGblock {
	background : white;
	text-align : center;
}

.BGbutton, .BGmenuItem {
	display : inline-block;
	border : none;
	padding : 1.5vh 2.5vh;
	background : rgba(245, 245, 245, 1);
}

.BGmenuItem {
	background : transparent;
	display : block;
	box-shadow : none;
	width : 20vw;
	color : rgba(18, 18, 18, 1);
}

.BGmenu {
	display : block;
	width : 20vw;
}

.BGbutton:hover, .BGmenuItem:hover {
	background : white;
}

.BGbutton:active, .BGmenuItem:active {
	box-shadow : inset 0px 0px 2vh black;
}

.BGtext {
	border : solid 0.5vh rgba(225, 225, 225, 1);
	box-shadow : 0px 0px 2vh black;
}

.BGlink:link {
	color : rgba(55, 55, 255, 1);
}

.BGlink:visited {
	color : rgba(0, 0, 155, 1);
}

.BGlink:hover {
	color : rgba(5, 5, 255, 1);
}

.BGlink:active {
	box-shadow : inset 0px 0px 0.5vh black;
	outline : none;
}

.BGprogress {
	background : rgba(245, 245, 245, 1);
	box-shadow : 0px 0px 2vh black, inset 0px 0px 0.5vh gray;
}	

.BGprogress div {
	padding : 0.6vh 0;
	user-select : none;
	-moz-user-select : none;
	-webkit-user-select : none;
	cursor : default;
	background : rgba(55, 55, 255, 1);
	color : white;
	text-align : center;
	box-shadow : inset 0px 0px 0.5vh black;
}

.BGrange {
	box-shadow : 0px 0px 2vh black, inset 0px 0px 0.5vh gray;
	background : white;
	cursor : pointer;
}

.BGrange::-moz-range-track {
	background : gray;
	height : 1vh;
	box-shadow : inset 0px 0px 0.3vh black;
}

.BGrange::-moz-range-thumb {
	height : 4vh;
	width : 4vh;
	background : rgba(55, 55, 255, 1);
	border : 0;
	border-radius : 0;
	box-shadow : 0px 0px 0.5vh black;
}

.BGrange::-webkit-slider-runnable-track {
	background : gray;
	height : 1vh;
	box-shadow : inset 0px 0px 0.3vh black;

}

.BGrange::-webkit-slider-thumb {
	height : 4vh;
	width : 4vh;
	background : rgba(55, 55, 255, 1);
	border : 0;
	border-radius : 0;
	box-shadow : 0px 0px 0.5vh black;
}

/*Темная тема*/

body.dark {
	background : rgba(40, 40, 40, 1);
}

p.dark, .BGblock.dark, .BGbutton.dark, .BGmenu.dark, .BGtext.dark, .BGrange.dark, .BGprogress.dark, h1, h2, h3 {
	color : white;
	background : rgba(40, 40, 40, 1);
}

.BGmenuItem.dark, .BGmenuItem.transparent {
	color : white;
}

p.dark, h1, h2, h3 {
	background : transparent;
}

.BGbutton.dark:hover, .BGmenuItem.dark:hover {
	background : rgba(70, 70, 70, 1);
}

.BGtext.dark {
	border : solid 0.5vh rgba(5, 5, 5, 1);
	text-shadow : 0px 0px 1vh black;
}

.BGlink.dark:link, .BGlink.transparent:link {
	color : rgba(135, 135, 255, 1);
}

.BGlink.dark:visited, .BGlink.transparent:visited {
	color : rgba(55, 55, 255, 1);
}

.BGlink.dark:hover, .BGlink.transparent:hover {
	color : rgba(5, 5, 255, 1);
}

/*Прозрачная тема*/

p.transparent, .BGblock.transparent, .BGbutton.transparent, .BGmenu.transparent, .BGtext.transparent, .BGrange.transparent, .BGprogress.transparent, h1, h2, h3 {
	background : rgba(255, 255, 255, 0.5);
	color : white;
	text-shadow : 0px 0px 0.5vh black;
}

.BGbutton.transparent:hover, .BGmenuItem.transparent:hover {
	background : rgba(255, 255, 255, 0.7);
}

p.transparent, h1, h2, h3 {
	background : transparent;
}

.BGtext.transparent {
	border : solid 0.5vh rgba(225, 225, 225, 0.3);
}

.BGlink.transparent {
	text-shadow : 0px 0px 0.5vh black;
}

.BGprogress.transparent div {
	background : rgba(55, 55, 255, 0.5);
}

/*Темная прозрачная тема*/

.BGblock.dark.transparent {
	background : rgba(0, 0, 0, 0.5);
}

.BGbutton.dark.transparent, .BGmenu.dark.transparent, .BGtext.dark.transparent, .BGrange.dark.transparent, .BGprogress.dark.transparent {
	background : rgba(55, 55, 55, 0.5);
}

.BGtext.dark.transparent {
	border : solid 0.5vh rgba(5, 5, 5, 0.3);
}

.BGbutton.dark.transparent:hover, .BGmenuItem.dark.transparent:hover {
	background : rgba(105, 105, 105, 0.5);
}
