﻿@charset 'utf-8';

/*Автор BirchBrowser и используемого здесь кода - Lupshenko*/

/*Основное*/

	* {
		font-family : sans-serif;
	}

	body {
		padding : 0;
		margin : 0;
		height : 100vh;
		width : 100vw;
		overflow : hidden;
	}

/*--Основное*/

/*СкроллБары*/

	::-webkit-scrollbar  {
		background : transparent;
	}

	::-webkit-scrollbar-thumb {
		box-shadow : 0px 0px 1.5vh black;
		background : rgba(40, 40, 40, 0.7);
	}

	#webView::-webkit-scrollbar-corner {
		background : rgba(129, 129, 129, 1);
	}

	#webView::-webkit-scrollbar-track-piece {
		background : rgba(129, 129, 129, 1);
	}

/*--СкроллБары*/

/*Топбар*/
	#title {
		z-index : 4;
		background : rgba(50, 50, 50, 1);
		height : 5vh;
		width : 100vw;
		display : block;
		padding : 0;
		margin : 0;
		-webkit-app-region : drag;
	}

	#title nav {
		-webkit-app-region: no-drag;
		padding : 0;
		margin : 0;
		position : absolute;
		top : 0;
		right : 1vh;
	}

	#title nav a {
		padding : 0;
		margin : 0;
		display : inline-block;
		width : 4vw;
		height : 4.8vh;
	}
	
	#title nav a:active {
		box-shadow : inset 0px 0px 2vh rgba(0, 0, 0, 0.7);
	}

	#title nav a {
		cursor : pointer;
	}

	#title nav a:nth-child(2) {
		background : rgba(0, 204, 153, 1);
	}

	#title nav a:nth-child(2):hover {
		background : rgba(0, 255, 153, 1);
	}

	#title nav a:nth-child(3) {
		background : rgba(0, 204, 255, 1);
	}

	#title nav a:nth-child(3):hover {
		background : rgba(0, 255, 255, 1);
	}

	#title nav a:nth-child(4) {
		background : rgba(204, 51, 51, 1);
	}

	#title nav a:nth-child(4):hover {
		background : rgba(255, 0, 51, 1);
	}

/*--Топбар*/

/*Навигация*/

	nav {
		float : right;
		font-size : 5vh;
		color : white;	
		-webkit-user-select: none;
	}

	#navBarTrigger {
		-webkit-app-region: no-drag;
		position : absolute;
		display : inline-block;
		top : 0;
		left : 0;
		height : 100vh;
		width : 1.5vw;
		text-align : center;
		z-index : 5;
	}

	#navBar {
		box-shadow : 0px 0.7vh 3vh black;
		padding : 0;
		margin : 0;
		z-index : 3;
		display : none;
		overflow : hidden;
		position : absolute;
		top : 5vh;
		left : 0;
		width : 10vw;
		height : 95vh;
		background : rgba(0,0,0,0.7);
		}

	#navBar span {
		width : 9.5vw;
		display : block;
		border-bottom : solid 2px white;
	}

	#navBar a {
		display : block;
		text-align : center;
		width : 10vw;
		height : 5vh;
		cursor : pointer;
		padding : 0.7vh 0;
		margin : 0;
	}
	
	#navBar a:focus {
		outline : solid 0.2vh rgba(0, 0, 0, 0.3);
	}
	
	#navBar a img, #navBarBut img {
		width : 5vh;
		height : 5vh;
	}
	
	#navBarBut {
		-webkit-user-select: none;
		-webkit-app-region: no-drag;
		display : block;
		height : 5vh;
		width : 7vh;
		position : absolute;
		top : 0;
		left : 0;
		padding : 0;
	}
	
	#navBarBut:not(:active) {
		box-shadow : none;
	}
	
	#url {
		-webkit-app-region: no-drag;
		position : absolute;
		top : 0;
		left : 5.5vw;
		height : 3.8vh;
		width : 50vw;
		text-align : center;
		box-shadow : none;
	}

	input.BGtext {
		width : 25vw;
		text-align : center;
		margin : 0;
	}
	
/*--Навигация*/

/*Кнопки*/

	#go {
		position : absolute;
		top : 0;
		left : 56vw;
		-webkit-app-region: no-drag;
		height : 4.8vh;
		width : 6vw;
		padding : 0;
		box-shadow : none;
	}

	#go:active {
		box-shadow : inset 0px 0px 2vh black;
	}

	.BGbutton {
		cursor : pointer;
		margin : 0;
		margin-bottom : 0.5vh;
	}
	
	.BGbutton img {
		width : 3vh;
		height : 3vh;
	}
	
	#zoomIndicator {
		display : none;
		position : absolute;
		top : 50vh;
		left : 39vw;
		overflow : hidden;
		background : rgba(0, 0, 0, 0.8);
		box-shadow : 0px 0px 3vh 0.5vh rgba(0, 0, 0, 0.5);
		color : white;
		font-size : 10vh;
		text-align : center;
		height : 10vh;
		width : 20vw;
		padding : 1.8vh 1vh 2.5vh 1vh;
		-webkit-user-select : none;
		cursor : default;
		z-index : 11 ;
	}
	
/*--Кнопки*/

/*Веб*/

	form {
		display : inline;
		padding : 0;
		margin : 0;
	}

	#webView {
		width : 100vw;
		height : 95vh;
		border : none;
		padding : 0;
		margin : 0;
		background : white;
		z-index : 1;
	}

	#browserArea {
		white-space : nowrap;
		overflow-x : auto;
		overflow-y : hidden;
	}

/*--Веб*/

/*Табы (общее)*/

	.BGblock.tab {
		z-index : 2;
		position : absolute;
		height : 95vh;
		overflow-y : auto;
		overflow-x : hidden;
		right : 0;
		width : 90vw;
		margin : 0;
		box-shadow : none;
		text-shadow : 0px 0px 2vh black;
	}

	.BGblock.tab * {
		text-shadow : 0px 0px 2vh black;
	}

/*--Табы (общее)*/

/*Табы*/

	#bkmsNhstr {
		overflow : hidden;
	}

	#bkmsNhstr a {
		width : 40vw;
		padding : 2.5vh 0;
		display : block;
		color : white;
		text-decoration : underline;
		text-align : center;
		margin : 0 auto;
	}
	
	#bkmsNhstr .themeBut, #bkmsNhstr span {
		margin-top : 0;
		margin-bottom : 1.5vh;
	}
	
	#bkmsNhstr h1 {
		margin-bottom : 1vh;
	}
	
	#bkmsHere, #historyHere {
		padding : 0;
		margin-top : 0;
		overflow-y : auto;
		overflow-x : hidden;
		height : 60vh;
	}
	
	#bookmarks {
		width : 45vw;
		float : left;
	}
	
	#history {
		width : 45vw;
		float : right;
	}
	
	#bkmsHere, #historyHere {
		width : 42vw;
	}
	
	.pluginsTiles {
		width : 50vw;
		height : 30vh;
		overflow-x : hidden;
		overflow-y : auto;
		padding : 0;
		margin : 0 auto;
	}
	
	.pluginsTiles a {
		width : 48vw;
		padding : 4vh 0;
		cursor : pointer;
		display : block;
		margin : 0;
		background : ;
	}
	
	#devTools h1 {
		margin-bottom : 0;
	}
	
	#devTools h3 {
		margin-top : 0;
	}
	
	#pageSrc,#jsCmd {
		resize : none;
		width : 75vw;
		height : 40vw;
	}

/*--Табы*/
